:root {
    --main-background: #EAE7DC;
    --light-pink: #e97e72;
    --gray: #8b8484;
    --darkGray: #474747;
    --beige: #D8C3A5;
    --light-beige: #e3d9cb;
    --dark-pink: #E85A4F;
    --margin: 3rem;
}

body {
    background-color: var(--main-background);
    color: var(--darkGray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



nav {
    margin-right: 5rem;
    margin-top: 1rem;
}


a {
    color: var(--gray);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover,
a:active {
    color: var(--light-pink);
    font-family: Cascadia Code, Consolas, Courier New;
}

.ulNav {
    list-style-type: none;
    display: grid;
    justify-content: right;
    word-spacing: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }
}

ul {
    list-style: none;
}


.main-content {
    display: grid;
    padding: 3px;
    grid-template-rows: auto 1fr auto;
    width: 100%;
}



img {
    object-fit: contain;
    width: 100%;
    height: auto;
}


p {
    color: var(--gray);
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
}



/* Home Page */
.myWork {
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;

}

.portfolioHeaderDiv {
    /* background-color: var(--beige); */
    height: 2rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headerText {
    font-size: 20px;
    color: var(--darkGray);
    font-family: 'Courier New', Courier, monospace;
    margin: auto;

}

.portfolioItems {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;

}

.portfolioItems:hover {
    box-shadow: 0 4px 12px rgba(93, 94, 94, 0.3);
}


.projectHeaderStart {
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkGray);
    height: 2rem;
    text-align: center;
    margin: 1rem;
}


.Nikolina2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3rem;
    color: var(--light-pink);

}



/* Contact Page */

.contactDiv {
    display: grid;
    grid-column: auto;
    grid-auto-flow: column;
    width: 80%;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profileImg {
    display: grid;
    border-radius: 50%;
    width: 100%;
    height: auto;
    transition: width 0.4s;
}

.profileImg:hover {
    width: 150%;


}


.contactText {
    color: var(--gray);
    text-align: left;
}

@media (max-width: 768px) {
    .contactDiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .profileImg {
        width: 80%;
    }
}



/* Portfolio Page */
.wrapDivs {
    display: grid;
    background-color: white;
    margin-bottom: var(--margin);
}

.projectPhotos {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    transition: box-shadow 0.8s ease;
    transition: transform .2s;

}

.projectPhotos:hover {
    transform: scale(1.5);

}

.projectDescriptionDiv {
    width: 100%;
    display: grid;
    background-color: white;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}


@media (max-width: 768px) {

    .projectDescriptionDiv {
        grid-template-columns: 1fr;
    }

    .projectContent {
        flex-direction: column;
    }

    .portfolioItems {
        width: 100%;
    }
}

.projectHeaderDiv {
    background-color: var(--light-beige);
    height: 3rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.portfolioItems-img {
    width: 100%;
}

.projectHeaderText {
    font-size: 20px;
    color: var(--darkGray);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto;
}

.projectDescriptionText {
    margin: 2rem;
}

.projectImgDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;


}


/* footer */

footer {
    grid-row-end: auto;
    margin-top: var(--margin);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footerText {
    list-style-type: none;
    display: grid;
    justify-content: center;
    color: var(--gray);
    padding: 1rem;
    list-style: none;
    text-align: center;
}


.footer-name {
    font-size: large;
}

.footer-email {
    color: var(--darkGray);
}

.footer-location {
    color: var(--light-pink);
}



/* Dark/Light mode style */


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--darkGray);
        color: white;
    }
    
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--main-background);
        color: var(--darkGray);
    }
}